* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #3c4048;
}

.topnav {
    background-color: #4D4646;
    width: 100%;
    height: 100px;
}

.topnav img {
    width: 150px;
    height: 100px;
    padding-left: 30px;
}