@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


* {
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body {
    background-color: #3c4048;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* nav bar css */

.topnav {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background: transparent;
    transition: ease-in-out 0.2s;
    z-index: 99;
}

.topnav.black {
    background-color: rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.2s;
    border-bottom: 2px solid #548ba3;
}

.topnav img {
    width: 150px;
    height: 100px;
    padding: 10px 0px 0px 30px;
}

.nav {
    position: absolute;
    left: 65%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    scale: 1.1;
    transition: scale .2s;
    border-bottom: 1px solid #61a5c2;
}

/* home page content */

.top-content {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 275px;
}

.top-content img {
    position: inherit;
    left: 200px;
    padding: 0px 40px 40px 0px;
}

.home-info-paragraph {
    position: inherit;
    left: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.top-content h1, .top-content h2, .top-content p {
    color: #e7ecef;
    position: inherit;
    top: 100px;
    left: 140px;
}

.top-content p {
    font-size: 24px;
    width: 100%;
}

.top-content h2 {
    width: 400px;
}

.home-buttons {
    position: inherit;
    top: 120px;
    left: 140px;
}

.home-buttons button, .home-buttons a{
    height: 75px;
    width: 150px;
    border: none;
    text-decoration: none;
    color: #e7ecef;
    border-radius: 5px;
    font-size: 18px;
    
}

.home-buttons button:hover {
    background-color: #61a5c2;
    transition: ease-in-out .5s;
}

.home-buttons button {
    background-color: #3c4048;
    border: 2px #61a5c2 solid;
    transition: ease-in-out .5s;
}

#portfolio-button {
    margin-right: 20px;
}


/* scrolling text css */

.typewriter-text h1{
    font-weight: 600;
    font-size: 23px;
    width: 150px;
    height: 30px;
    padding: 8px;
    margin: 0px;
    color: #d1495b;
}

.typewriter-text {
    position: relative;
    top: 44px;
    left: 200px;
    width: 150px;
    height: 30px;
    overflow: hidden;
    margin: 0px;
    animation: typing 3s steps(20) infinite;
}

.scrolling-text {
    animation: scroll 9s infinite;

}

@keyframes scroll {
    0%, 33.33% {
        transform: translateY(0);
      }
      33.34%, 66.66% {
        transform: translateY(-1.9rem);
      }
      66.67%, 100% {
        transform: translateY(-3.8rem);
      }
    }

@keyframes typing {
    0% {
      width: 0px;
    }
    40%, 60% {
      width: 150px;
    }
    100% {
     width: 0px;
    }
  }

  /* home page portfolio preview */

.home-portfolio-preview  h1{
    color: #e7ecef;
    position: relative;
    top: 450px;
    left: 130px;
    font-size: 64px;
    border-bottom: 1px solid #61a5c2;
    width: 600px;
    font-weight: 500;
}

.home-portfolio-examples {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 575px;
    padding: 0px 30px 0px 30px;
    position: relative;
    top: 500px;
    gap: 20px;
    left: 30px;
}

.home-card {
    background-color: #4d525c;
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: #3c4048 2px solid;
}


.home-card img {
    width: 100%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.home-card h3 {
    color: #61a5c2;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    top: -10px;
    left: 20px;
}

.home-card p {
    color: #e7ecef;
    position: relative;
    top: -30px;
    font-size: 18px;
    padding: 0px 20px 0px 20px;
}

.home-language-boxes {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 400px;
    position: relative;
    top: -40px;
    left: 20px;
    gap: 10px;
}

.home-language-boxes h2 {
    color: #e7ecef;
    background-color: #548ba3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}

.home-language-boxes h2:nth-child(1) {
    width: 60px;
}

.home-language-boxes h2:nth-child(2) {
    width: 50px;
}

.home-language-boxes h2:nth-child(3) {
    width: 105px;
}

/* footer content  */

.footer-container {
    width: 100%;
    background-color: #4d525c;
    height: 300px;
    position: absolute;
    top: 2000px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    position: inherit;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top-footer-content, .bottom-footer-content {
    display: flex;
    flex-direction: row;
    height: 50%;
    padding: 25px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.bottom-footer-content {
    border-top: #548ba3 solid 2px;
    
}

.top-footer-content {
    margin: 0px 20px 0px 0px;
}

.footer-logo img {
    width: 150px;
    height: 100px;
    position: relative;
    top: 0px;
}

.top-footer-content h1 {
    color: #e7ecef;
    position: relative;
    top: 20px;
    left: 30px;
}

.address {
    color: #e7ecef;
}

.bottom-footer-content p {
    color: #80d2f5;
}

.media-icons img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: white;
}

.media-icons {
    display: flex;
    gap: 5px;
    margin-top: 45px;
}

.footer-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}